<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="FalseDiscoveryRate.version" type="xstring" value="2.0.0"/>
<entry key="FalseDiscoveryRate.1.proteins_only" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.peptides_only" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.log" type="xstring" isnull="true" value=""/>
<entry key="FalseDiscoveryRate.1.debug" type="xstring" value="0"/>
<entry key="FalseDiscoveryRate.1.threads" type="xstring" value="1"/>
<entry key="FalseDiscoveryRate.1.no_progress" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.force" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.test" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.algorithm.q_value" type="xstring" value="true"/>
<entry key="FalseDiscoveryRate.1.algorithm.use_all_hits" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.algorithm.split_charge_variants" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.algorithm.treat_runs_separately" type="xstring" value="false"/>
<entry key="FalseDiscoveryRate.1.algorithm.decoy_string" type="xstring" value="_rev"/>
<entry key="FalseDiscoveryRate.1.algorithm.add_decoy_peptides" type="xstring" value="false"/>
<entry key="GENERIC_KNIME_NODES_outtype#0" type="xint" value="0"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="de.openms.knime.nodes.FalseDiscoveryRate.FalseDiscoveryRateNodeFactory"/>
<entry key="node-name" type="xstring" value="FalseDiscoveryRate"/>
<entry key="node-bundle-name" type="xstring" value="Generic Workflow Nodes for KNIME: OpenMS"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="de.openms"/>
<entry key="node-bundle-vendor" type="xstring" value="Freie Universitaet Berlin, Universitaet Tuebingen, and the OpenMS Team"/>
<entry key="node-bundle-version" type="xstring" value="2.0.0.201511241504"/>
<entry key="node-feature-name" type="xstring" value="OpenMS"/>
<entry key="node-feature-symbolic-name" type="xstring" value="de.openms.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="2.0.0.201602011314"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="FalseDiscoveryRate"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
