<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="FeatureLinkerUnlabeledQT.version" type="xstring" value="2.0.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.keep_subelements" type="xstring" value="false"/>
<entry key="FeatureLinkerUnlabeledQT.1.log" type="xstring" isnull="true" value=""/>
<entry key="FeatureLinkerUnlabeledQT.1.debug" type="xstring" value="0"/>
<entry key="FeatureLinkerUnlabeledQT.1.threads" type="xstring" value="1"/>
<entry key="FeatureLinkerUnlabeledQT.1.no_progress" type="xstring" value="false"/>
<entry key="FeatureLinkerUnlabeledQT.1.force" type="xstring" value="false"/>
<entry key="FeatureLinkerUnlabeledQT.1.test" type="xstring" value="false"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.use_identifications" type="xstring" value="false"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.ignore_charge" type="xstring" value="false"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_RT.max_difference" type="xstring" value="60.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_RT.exponent" type="xstring" value="1.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_RT.weight" type="xstring" value="1.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_MZ.max_difference" type="xstring" value="20.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_MZ.unit" type="xstring" value="ppm"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_MZ.exponent" type="xstring" value="2.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_MZ.weight" type="xstring" value="1.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_intensity.exponent" type="xstring" value="1.0"/>
<entry key="FeatureLinkerUnlabeledQT.1.algorithm.distance_intensity.weight" type="xstring" value="0.0"/>
<entry key="GENERIC_KNIME_NODES_outtype#0" type="xint" value="0"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value=""/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="1162"/>
<entry key="y-coordinate" type="xint" value="456"/>
<entry key="width" type="xint" value="130"/>
<entry key="height" type="xint" value="15"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="0"/>
<entry key="defFontSize" type="xint" value="-1"/>
<entry key="annotation-version" type="xint" value="-1"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="de.openms.knime.nodes.FeatureLinkerUnlabeledQT.FeatureLinkerUnlabeledQTNodeFactory"/>
<entry key="node-name" type="xstring" value="FeatureLinkerUnlabeledQT"/>
<entry key="node-bundle-name" type="xstring" value="Generic Workflow Nodes for KNIME: OpenMS"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="de.openms"/>
<entry key="node-bundle-vendor" type="xstring" value="Freie Universitaet Berlin, Universitaet Tuebingen, and the OpenMS Team"/>
<entry key="node-bundle-version" type="xstring" value="2.0.0.201511241504"/>
<entry key="node-feature-name" type="xstring" value="OpenMS"/>
<entry key="node-feature-symbolic-name" type="xstring" value="de.openms.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="2.0.0.201602011314"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="FeatureLinkerUnlabeledQT"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
