<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="FidoAdapter.version" type="xstring" value="2.0.0"/>
<entry key="FidoAdapter.1.prob_param" type="xstring" value="Posterior Probability_score"/>
<entry key="FidoAdapter.1.separate_runs" type="xstring" value="false"/>
<entry key="FidoAdapter.1.keep_zero_group" type="xstring" value="false"/>
<entry key="FidoAdapter.1.no_cleanup" type="xstring" value="false"/>
<entry key="FidoAdapter.1.all_PSMs" type="xstring" value="false"/>
<entry key="FidoAdapter.1.group_level" type="xstring" value="false"/>
<entry key="FidoAdapter.1.accuracy" type="xstring" isnull="true" value=""/>
<entry key="FidoAdapter.1.log2_states" type="xstring" value="0"/>
<entry key="FidoAdapter.1.log2_states_precalc" type="xstring" value="0"/>
<entry key="FidoAdapter.1.log" type="xstring" isnull="true" value=""/>
<entry key="FidoAdapter.1.debug" type="xstring" value="0"/>
<entry key="FidoAdapter.1.threads" type="xstring" value="1"/>
<entry key="FidoAdapter.1.no_progress" type="xstring" value="false"/>
<entry key="FidoAdapter.1.force" type="xstring" value="false"/>
<entry key="FidoAdapter.1.test" type="xstring" value="false"/>
<entry key="FidoAdapter.1.prob.protein" type="xstring" value="0.0"/>
<entry key="FidoAdapter.1.prob.peptide" type="xstring" value="0.0"/>
<entry key="FidoAdapter.1.prob.spurious" type="xstring" value="0.0"/>
<entry key="GENERIC_KNIME_NODES_outtype#0" type="xint" value="0"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="de.openms.knime.nodes.FidoAdapter.FidoAdapterNodeFactory"/>
<entry key="node-name" type="xstring" value="FidoAdapter"/>
<entry key="node-bundle-name" type="xstring" value="Generic Workflow Nodes for KNIME: OpenMS"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="de.openms"/>
<entry key="node-bundle-vendor" type="xstring" value="Freie Universitaet Berlin, Universitaet Tuebingen, and the OpenMS Team"/>
<entry key="node-bundle-version" type="xstring" value="2.0.0.201511241504"/>
<entry key="node-feature-name" type="xstring" value="OpenMS"/>
<entry key="node-feature-symbolic-name" type="xstring" value="de.openms.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="2.0.0.201602011314"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="FidoAdapter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
