<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="Image width" type="xint" value="1280"/>
<entry key="Image height" type="xint" value="1280"/>
<entry key="Image resolution" type="xstring" value="300"/>
<entry key="Image background color" type="xstring" value="#ffffff"/>
<entry key="Text point size" type="xint" value="3"/>
<config key="R settings">
<entry key="script" type="xstring" value="if (!require(gplots)) install.packages(&quot;gplots&quot;)%%00010library(gplots)%%00010%%00010knime.out &lt;- knime.in%%00010%%00010# get column names starting with intensity_NUMBER%%00010all_cols = colnames(knime.out)%%00010intensity_cols = all_cols[grepl(&quot;^intensity_\\d+&quot; , all_cols, perl=TRUE)]%%00010data = as.matrix(knime.out[,intensity_cols])%%00010%%00010hclust_fun = function(x) hclust(x, method=&quot;average&quot;)%%00010%%00010heatmap.2(data, hclustfun=hclust_fun,  margins = c(12, 5))%%00010%%00010%%00010"/>
<entry key="templateUUID" type="xstring" isnull="true" value=""/>
<entry key="version" type="xstring" value="version 1.x"/>
<entry key="Output non numbers (NaN, Inf, -Inf) as missing cells" type="xboolean" value="false"/>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Heatmap%%00013%%00010All features%%00013%%00010with FC &gt; 2"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="407"/>
<entry key="y-coordinate" type="xint" value="1479"/>
<entry key="width" type="xint" value="107"/>
<entry key="height" type="xint" value="36"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="0"/>
<entry key="defFontSize" type="xint" value="-1"/>
<entry key="annotation-version" type="xint" value="-1"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.r.RViewNodeFactory"/>
<entry key="node-name" type="xstring" value="R View (Table)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME R-Project nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.r"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.1.1.v201601281446"/>
<entry key="node-feature-name" type="xstring" value="KNIME Interactive R Statistics Integration"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.r.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.1.1.v201601281446"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="R View (Table)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
